name: Update Organization README

on:
  push:
    branches: [main, master]
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Run Update Script
        # GITHUB_TOKEN est fourni automatiquement par les Actions
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: pwd && tsc && node lib/scripts/update-readme.js

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "docs: auto-update readme repos list"
          file_pattern: profile/README.md
